name: learn-github-actions

on: [push]

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:

    - name: Init Bash
      shell: bash -l {0}
      run: python --version

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: install conda
      uses: s-weigand/setup-conda@v1
      with:
        update-conda: true  
    - run: conda --version
    - run: which python
    - run: conda env create -f environment.yml
    - run: conda env list

    - name: Install xvfb
      run: sudo apt-get update && sudo apt-get install -y xvfb

    - name: run tests
      run: xvfb-run -a conda run -n FBSTUDIO python3 src/tests/main.py
        


